@import '../components/index.css';

html,
body,
#root {
  height: 100%;
  width: 100%;
}


.function-node {
  background-color: var(--vscode-editor-background);
  padding: 5px;
  border: 3px solid grey;
  border-radius: 10px;
}